@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding:0;
  margin:0;
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    cursive;
  @apply scroll-smooth text-zinc-800;
}

a {
  @apply underline underline-offset-2;
}

* {
  box-sizing:border-box;
}


/* NAV */
.nav_container {
  @apply flex flex-wrap lg:flex-nowrap items-center justify-between font-semibold bg-gray-50 lg:bg-white fixed w-full opacity-95 px-4 py-3;
}

.logo_container {
  @apply flex flex-shrink-0 text-black lg:mx-6 mx-2 mt-2 no-underline;
}

.logo {
  @apply font-bold text-3xl tracking-tight font-header ;
}

.button_container {
  @apply block lg:hidden;
}

.button {
  @apply flex items-center px-1.5 py-1 border rounded text-black border-black hover:text-gray-600 hover:border-gray-400;
}

.nav_bar {
  @apply w-full lg:flex lg:w-auto;
}

.nav_items {
  @apply text-base lg:grow justify-between font-body;
}

.nav_link {
  @apply block lg:inline-block mt-4 hover:text-gray-600 lg:mx-10 mx-2 text-lg md:text-base text-black no-underline font-normal;
}


/* INDEX PAGE */
.portfolio_container {
  @apply md:pt-0.5 md:-mt-0.5 ;
}


/* SECTION SPECIFIC */
.section_container {
  @apply m-6 md:mx-20 lg:mx-28 md:min-h-screen min-h-screen;
}

.section_headline {
  @apply uppercase pt-2;
}

.section_hr {
  @apply border-black;
}

.icon_style {
  color:#3e3c3c;
}


/* HOME */
.home_container {
  @apply  flex-col justify-center items-center pt-96 lg:my-40 h-screen;
}

.home_header, .home_subhead {
  @apply text-zinc-800;
}

.home_header {
  @apply items-center text-6xl md:text-6xl lg:text-7xl xl:text-8xl text-center uppercase;
}

.home_subhead {
  @apply text-6xl md:text-6xl lg:text-6xl xl:text-8xl text-center pt-2;
}

.image_container {
  @apply flex flex-col items-center pt-5 pb-2
}

.home_image {
  @apply object-contain w-11/12 md:w-7/12 lg:w-1/2 max-w-3xl opacity-75;
}


/* ABOUT  */
.about_h1 {
  @apply font-medium text-lg md:text-xl lg:text-2xl xl:text-3xl lg:leading-10 lg:pl-4;
}

.about_h2 {
  @apply text-base md:text-xl lg:text-2xl lg:leading-10 lg:px-6 pb-3;
}

.about_p {
  @apply text-base md:text-xl lg:text-2xl pt-4 lg:pt-6 lg:leading-10 lg:px-16;
}

.about_image_header_container {
  @apply flex flex-col lg:flex-row lg:pt-16 lg:px-8 py-10;
}

.about_header_copy {
  @apply flex flex-col about_h1 w-full lg:order-2 lg:justify-center lg:content-center pb-4 lg:pb-0;
}

.about_image {
  @apply flex justify-center h-fit w-full lg:order-1 lg:w-1/2 pt-4 lg:pt-0;
}


/* SKILLS */
.skills_container {
  @apply flex flex-col xl:flex-row xl:justify-around;
}

.skill_container {
  @apply flex flex-col items-center mb-10 shadow-lg rounded-sm basis-1/4 justify-center py-10 md:mx-14 xl:mx-0 bg-gray-50;
}

.skill_container > h2 {
  @apply font-semibold lg:text-sm pt-3 uppercase;
}

.skill_hr {
  @apply border-black cursor-pointer w-20;
}

.skill_h4 {
  @apply text-xl px-1
}

.skill_download {
  @apply flex justify-center py-16
}

.skill_href {
  @apply flex
}

.skill_col {
  @apply flex flex-col items-center py-3 justify-center;
}

.skill_col p {
  @apply text-xl;
}

.skill_footnote {
  @apply text-sm pt-2 pb-6 px-8 text-center;
}


/* CONTACT */
.input_class {
  @apply w-full px-3 py-2 border-gray-300 rounded-md border hover:border-black focus:outline-none;
}

.contact_h2 {
  @apply pt-8 text-sm md:text-xl lg:text-xl lg:leading-snug lg:px-16;
}

.contact_form_container {
  @apply flex flex-col items-center pt-8
}

.contact_form_div {
  @apply w-11/12 mb-6;
}

.contact_button {
  @apply inline-block px-10 py-2.5 font-medium text-xs leading-tight text-white uppercase rounded bg-gradient-to-r from-zinc-400 to-zinc-800 hover:from-zinc-800 hover:to-zinc-400 shadow-lg;
}


/* CONTACT SUCCESS PAGE */
.contact_success_container {
  @apply  flex-col justify-center items-center pt-28 lg:my-40 h-screen;
}
.contact_submission_copy {
  @apply flex flex-col items-center justify-center pt-24 px-12 lg:pt-28 font-normal text-xl lg:text-2xl lg:leading-10 lg:px-16;
}

.contact_success_header {
  @apply items-center text-6xl md:text-6xl lg:text-7xl xl:text-8xl text-center uppercase;
}

.contact_success_subhead {
  @apply text-6xl md:text-6xl lg:text-6xl xl:text-8xl text-center pt-2;
}

.contact_success_image_container {
  @apply flex flex-col items-center pt-5 pb-2
}

.contact_success_image {
  object-fit:contain;
  width:50% !important;
  opacity:0.45;
}